<div *ngIf="afAuth.authState  | async; let user; else showLogin" class="GoogleSignInButton">
  <button (click)="logout()" mat-flat-button color="warn">
    Logout
  </button>
 </div>



 <ng-template #showLogin>
  <div class="GoogleSignInButton">
    <button (click)="login()" mat-flat-button>
      <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
      Login with Google
    </button>
  </div>
 </ng-template>
